---
image: ghcr.io/euronetzrt/django:{{#if build.tag}}{{trimPrefix "v" build.tag}}{{else}}latest{{/if}}
manifests:
- image: ghcr.io/euronetzrt/django:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}amd64
  platform:
    os: linux
    architecture: amd64

{{#if build.tags}}
tags:
{{#each build.tags}}
- {{this}}
{{/each}}
{{/if}}

